.dog-list {
    list-style: none;
}

/* Home.css */

.dog-list-item {
    cursor: pointer;        /* Makes the mouse pointer appear */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  
  .dog-list-item:hover {
    background-color: blue; /* Changes background color on hover */
    color: white;           /* Optional: changes text color to make it readable */
  }
  